# ETL Project - Group 3
Barbara MacGregor, Matt Russell, and Chi Tran

## Import dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy.orm import session
from config import username, password

## Extract
### Read in the raw excel files

In [2]:
# declare the daatset paths
# election2016csv = os.path.join('Resources','election2016.xlsx')
# election1996csv = os.path.join('Resources','election1996.xls')

election2016csv = 'Resources\election2016.xlsx'
election1996csv = 'Resources\election1996.xls'

In [3]:
# Read in the 2016
election2016 = pd.read_excel(election2016csv, sheet_name='Results')
election2016.head()

,VTDID,PCTNAME,PCTCODE,MCDNAME,COUNTYNAME,COUNTYCODE,CONGDIST,MNSENDIST,MNLEGDIST,CTYCOMDIST,...,MNSENWI,MNSENTOTAL,MNLEGR,MNLEGDFL,MNLEGWI,MNLEGTOTAL,MNCA1YES,MNCA1NO,MNCA1EST,MNCA1TOTAL
0,270010005.0,Aitkin,5.0,Aitkin,Aitkin,1.0,8.0,10.0,10B,1.0,...,1,943,561,411,0,972,731,224,45,1000
1,270010010.0,Aitkin Twp,10.0,Aitkin Twp,Aitkin,1.0,8.0,10.0,10B,1.0,...,0,531,370,173,0,543,438,95,17,550
2,270010015.0,Ball Bluff Twp,15.0,Ball Bluff Twp,Aitkin,1.0,8.0,10.0,10B,5.0,...,0,160,79,79,0,158,131,32,1,164
3,270010020.0,Balsam Twp,20.0,Balsam Twp,Aitkin,1.0,8.0,10.0,10B,5.0,...,0,19,8,11,0,19,15,2,2,19
4,270010025.0,Beaver Twp,25.0,Beaver Twp,Aitkin,1.0,8.0,10.0,10B,3.0,...,0,33,11,23,0,34,31,6,0,37

In [4]:
# Read in the 1996
election1996 = pd.read_excel(election1996csv, sheet_name='1996_Vote_Stats')
election1996.head()

,FIPS_VTD,Precinct Name,FIPS,PRCT,LEG,7am,EDR,Signatures,AB-Reg,AB-Fed,...,USSenOther,CongIR,CongDFL,CongOther,MNSenIR,MNSenDFL,MNSenOther,MNLegIR,MNLegDFL,MNLegOther
0,10005,AITKIN,1,5,03B,1088,119,809,74,0,...,74,274,515,94,0,651,232,390,444,49
1,10010,AITKIN TWP.,1,10,03B,592,63,483,1,0,...,53,164,279,41,0,347,137,222,236,26
2,10015,BALL BLUFF TWP.,1,15,03B,200,21,145,3,0,...,14,26,111,11,0,122,26,46,95,7
3,10020,BALSAM TWP.,1,20,03B,18,0,11,2,0,...,0,0,12,1,0,6,7,0,13,0
4,10025,BEAVER TWP.,1,25,08B,41,3,29,1,0,...,2,1,22,7,5,23,2,4,26,0

### Extract just the columns of interest

In [5]:
# Select columns of interest for 2016
cols2016 = ['PCTNAME','PCTCODE','USPRSR' ,'USPRSDFL','VTDID']
election2016df = election2016[cols2016]
election2016df.head()

          PCTNAME  PCTCODE  USPRSR  USPRSDFL        VTDID
0          Aitkin      5.0     552       358  270010005.0
1      Aitkin Twp     10.0     356       154  270010010.0
2  Ball Bluff Twp     15.0      96        57  270010015.0
3      Balsam Twp     20.0       9         8  270010020.0
4      Beaver Twp     25.0      16        19  270010025.0

In [6]:
# Select columns of interest for 1996
cols1996 = ['Precinct Name','PRCT','PresIR','PresDFL','FIPS_VTD']
election1996df = election1996[cols1996]
election1996df.head()

     Precinct Name  PRCT  PresIR  PresDFL  FIPS_VTD
0           AITKIN     5     304      451     10005
1      AITKIN TWP.    10     197      216     10010
2  BALL BLUFF TWP.    15      47       81     10015
3      BALSAM TWP.    20       0       11     10020
4      BEAVER TWP.    25       2       19     10025

## Transform
### Rename columns

In [7]:
# Rename columns in both dataframe
newCols2016 = {'PCTNAME':'precinct_name', 'PCTCODE':'precinct_code','USPRSR':'republican_votes_2016','USPRSDFL':'democratic_votes_2016','VTDID':'district_id'}
newCols1996 = {'Precinct Name':'precinct_name', 'PRCT':'precinct_code','PresIR':'republican_votes_1996','PresDFL':'democratic_votes_1996','FIPS_VTD':'district_id'}

election2016df = election2016df.rename(columns=newCols2016)
election1996df = election1996df.rename(columns=newCols1996)

#  preview just 1 dataframe
election1996df.head()

,precinct_name,precinct_code,republican_votes_1996,democratic_votes_1996,district_id
0,AITKIN,5,304,451,10005
1,AITKIN TWP.,10,197,216,10010
2,BALL BLUFF TWP.,15,47,81,10015
3,BALSAM TWP.,20,0,11,10020
4,BEAVER TWP.,25,2,19,10025

### Visual data inspections:
Notes: running cells in this section is optional
#### Observations:
* there are "Nan" entries
* there are inconsistency spacing in precinct_name
* there are punctuation inconsistency (eg: TWP vs TWP.)
* there are decimal inconsistency in precinct_code and district_id
* district_id in 2016 begins with "27" whereas in 1996 does not.

In [ ]:
# print out all of unique values in each columns in 2016 dataframe
# visually inspect to identify any NA or inconsistencies between 2 dataframes

colNames = list(election2016df.columns)
for col in colNames:
    print(col)
    print('----2016----')
    print(*election2016df[col].unique(),sep ='\n')
    print('Number of element of Unique Values: ')
    print(len(election2016df[col].unique()))
    print('-----------')

In [ ]:
# print out all of unique values in each columns in 1996 dataframe
# visually inspect to identify any NA or inconsistencies between 2 dataframes

colNames = list(election1996df.columns)
for col in colNames:
    print(col)
    print('----1996----')
    print(*election1996df[col].unique(),sep ='\n')
    print('Numel of Unique Values')
    print(len(election1996df[col].unique()))
    print('-----------')

In [ ]:
# list district_name that are different in each df
election1996df[~election1996df['precinct_name'].isin(election2016df['precinct_name'])]
election2016df[~election2016df['precinct_name'].isin(election1996df['precinct_name'])]

#### Data Cleaning:

In [8]:
# capitailize all precinct_name
election2016df['precinct_name'] = election2016df['precinct_name'].str.upper()

In [9]:
# drop na entries for both dataframes
election2016df = election2016df.dropna()
election1996df = election1996df.dropna()

In [10]:
# drop "." after "TWP" for both dataframes 
election2016df['precinct_name'] = election2016df['precinct_name'].replace({'TWP.':'TWP'},regex = True)
election1996df['precinct_name'] = election1996df['precinct_name'].replace({'TWP.':'TWP'},regex = True)

In [11]:
#  we could also normalize district_id in 2016 to match with the format in 1996
# election2016df['district_id'] = election2016df['district_id'] - 270000000

# we could also normalize district_id in 1996 to match with the format in 2016 if desired
election1996df['district_id'] = election1996df['district_id'] + 270000000

In [12]:
# Precinct_Code and district_id has 1 decimal in 2016 
# remove decimal for 2016 df
election2016df[['precinct_code','district_id']] = election2016df[['precinct_code','district_id']].astype(int)

In [13]:
# Precinct names have too many inconsistency to clean up
# preview the two cleaned dataframes
election2016df.head()

,precinct_name,precinct_code,republican_votes_2016,democratic_votes_2016,district_id
0,AITKIN,5,552,358,270010005
1,AITKIN TWP,10,356,154,270010010
2,BALL BLUFF TWP,15,96,57,270010015
3,BALSAM TWP,20,9,8,270010020
4,BEAVER TWP,25,16,19,270010025

In [14]:
# preview the two cleaned dataframes
election1996df.head()

,precinct_name,precinct_code,republican_votes_1996,democratic_votes_1996,district_id
0,AITKIN,5,304,451,270010005
1,AITKIN TWP,10,197,216,270010010
2,BALL BLUFF TWP,15,47,81,270010015
3,BALSAM TWP,20,0,11,270010020
4,BEAVER TWP,25,2,19,270010025

## LOAD
(Proceed only if database and tables have been created in the database)
(Use: Posgres SQL)

In [15]:
# create an engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/election_db')

In [16]:
# list the table names in the database
engine.table_names()

['election2016', 'election1996']

In [17]:
# insert data into the election 2016 table
election2016df.to_sql(name='election2016', con=engine, if_exists='append', index=False)

In [18]:
# insert data into the election 1996 table
election1996df.to_sql(name='election1996', con=engine, if_exists='append', index=False)

In [19]:
# inspect the election 2016 table
pd.read_sql_query('select * from election2016', con=engine).head()

,district_id,precinct_code,precinct_name,republican_votes_2016,democratic_votes_2016
0,270010005,5,AITKIN,552,358
1,270010010,10,AITKIN TWP,356,154
2,270010015,15,BALL BLUFF TWP,96,57
3,270010020,20,BALSAM TWP,9,8
4,270010025,25,BEAVER TWP,16,19

In [20]:
# inspect the election 1996 table
pd.read_sql_query('select * from election1996', con=engine).head()

,district_id,precinct_code,precinct_name,republican_votes_1996,democratic_votes_1996
0,270010005,5,AITKIN,304,451
1,270010010,10,AITKIN TWP,197,216
2,270010015,15,BALL BLUFF TWP,47,81
3,270010020,20,BALSAM TWP,0,11
4,270010025,25,BEAVER TWP,2,19

### QUERY:
* run query.sql in Postgres to view some comparisions.